  <div class="container padded">
    <div class="row">
      <div class="col-xs-6 col-md-6 col-md-offset-3">
        <h1 class="text-center ">Edit the booking:</h1>
        <br>
        <div>
          <%= render 'form' %>
        </div>
      </div>
    </div>
  </div>
