.btn-submit {
  background-color: #33658A;
  border-color: #33658A;

  &:hover {
    background-color: #3F7EAF;
    border-color: #3F7EAF;
  }
}

.btn-go {
  background-color: #379634;
  border-color: #379634;

  &:hover {
    background-color: #40AE3C;
    border-color: #40AE3C;
  }
}
